planner:
  sot_type: "SoTSequentialTasksBaseline"
  use_joy: True

  tasks:
    - name: "Base Pos 1"
      planner_type: "BasePoseTrajectoryLine"
      frame_id: "base"
      initial_pose: [-0.0, -0.0, 0.0]
      target_pose: [0.0, 1.2, 0.0]
      cruise_speed: 0.5
      yaw_speed: 0.5
      tracking_err_tol: 0.05
      end_stop: True
    - name: "EE Pos 1"
      planner_type: "EESimplePlannerBaseFrame"
      frame_id: "base"
      target_pos: [ 0, 2, 0.8 ]
      hold_period: 0.75
      tracking_err_tol: 0.05
    - name: "Base Pos 2"
      planner_type: "BasePoseTrajectoryLine"
      frame_id: "base"
      initial_pose: [-0.0, 1.2, 0.0]
      target_pose: [1.75, -0.703, -1.57]
      cruise_speed: 0.5
      yaw_speed: 0.5
      tracking_err_tol: 0.05
      end_stop: True
    - name: "EE Pos 2"
      planner_type: "EESimplePlannerBaseFrame"
      frame_id: "base"
      target_pos: [ 2.5, -1, 0.8 ]
      hold_period: 0.75
      tracking_err_tol: 0.05
    - name: "Base Pos 3"
      planner_type: "BasePoseTrajectoryLine"
      frame_id: "base"
      initial_pose: [ 1.75, -0.703, -1.57 ]
      target_pose: [-1.75, -0.703, 1.57 ]
      cruise_speed: 0.5
      yaw_speed: 0.5
      tracking_err_tol: 0.05
      end_stop: True
    - name: "EE Pos 3"
      planner_type: "EESimplePlannerBaseFrame"
      frame_id: "base"
      target_pos: [ -2.5, -1, 0.8 ]
      hold_period: 0.75
      tracking_err_tol: 0.05
    # - name: "Base Pos 3"
    #   planner_type: "BasePosTrajectoryLine"
    #   frame_id: "base"
    #   initial_pos: [-1.0, 0.]
    #   target_pos: [1.0, 3.]
    #   cruise_speed: 0.5
    #   tracking_err_tol: 0.25
    # - name: "EE Pos 3"
    #   planner_type: "EESimplePlanner"
    #   frame_id: "base"
    #   target_pos: [2., 3., 0.8 ]
    #   hold_period: 3.
    #   tracking_err_tol: 0.02


simulation:
  duration: 200
  robot:
    urdf:
      package: "mmseq_assets"
      path: "thing/urdf/thing_pyb.urdf"
      includes:
        - "$(find mobile_manipulation_central)/urdf/xacro/cartesian_base_joints.urdf.xacro"
        - "$(find mobile_manipulation_central)/urdf/xacro/thing_no_wheels.urdf.xacro"
        - "$(find mmseq_assets)/thing/xacro/end_effector_box.urdf.xacro"
        - "$(find mmseq_assets)/thing/xacro/collision.urdf.xacro"
      args:
        use_collision: "false"
        transform_params: "$(find mmseq_run)/config/robot/box_container.yaml"

controller:
  type: "STMPCSQP"
  home: "demo"

  ee_upward_constraint_enabled: True
  collision_safety_margin: 0.2
  ee_upward_deviation_angle_max: 0.17    #rad, 0.26 rad ~ 15 degree



    # soft constraints parameters
  xu_soft:
    mu: 0.003
    zeta: 0.005
  collision_soft:
    mu: 0.001
    zeta: 0.005
  ee_upward_soft:
    mu: 0.001
    zeta: 0.01

  # weights for each cost function
  cost_params:
    EEPos3:
      Qk: 1.
      P: 10.
    ArmJoint:
      Qk: 0.2
      P: 1
    BasePos2:
      Qk: 1.
      P: 10.
    Effort:
      Qqa: 0.
      Qqb: 0.
      Qva: 0.1
      Qvb: 0.1
      Qua: 0.025
      Qub: 0.1
      Qdua: 0.
      Qdub: 0.05

  robot:
    limits:
      state:
        lower: [ -2, -10, -2.pi, -0.1pi, -1pi, -1pi, -1pi, -1pi, -1pi,
                 -0.5, -0.5, -1, -0.5, -1, -1., -2, -2, -2]
        upper: [ 2, 10, 2pi, 1.pi, 1pi, 1pi, 1pi, 1pi, 1pi,
                 0.5, 0.5, 1, 0.5, 1, 1., 2, 2, 2 ]
    urdf:
      package: "mmseq_assets"
      path: "thing/urdf/thing_ocs2.urdf"
      includes:
        - "$(find mobile_manipulation_central)/urdf/xacro/thing_no_wheels.urdf.xacro"
        - "$(find mmseq_assets)/thing/xacro/end_effector_box.urdf.xacro"
        - "$(find mmseq_assets)/thing/xacro/collision.urdf.xacro"
      args:
        use_collision: "True"
        transform_params: "$(find mmseq_run)/config/robot/box_container.yaml"

include:
  - package: "mmseq_run"
    path: "config/robot/thing.yaml"
  - package: "mmseq_run"
    path: "config/controller/HTMPC.yaml"
  - package: "mmseq_run"
    path: "config/sim/simulation.yaml"
  - package: "mmseq_run"
    path: "config/scene/restaurant.yaml"

logging:
  log_dir: "/home/tracy/Documents/PhD/data/demo"
  log_level: 20 # 0 - not set, 10 - debug, 20 - info
