<?xml version="1.0"?>
<!-- Launches the ROS-based simulation, which uses the real MPC and MRT nodes talking to a PyBullet sim environment. -->

<launch>
  <arg name="config"/>

  <!-- use simulation time -->
  <param name="/use_sim_time" value="true" type="bool"/>

  <!-- Simulation -->
  <node pkg="mmseq_run" type="sim_ros.py" name="sim_ros" output="screen" required="true" args="--config $(arg config) --GUI" />

  <!-- Controller -->
  <include file="$(find mmseq_run)/launch/controller.launch" >
    <arg name="config" value="$(arg config)"/>
    <arg name="use_sim_time" value="true"/>
  </include>

</launch>